html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

header {
     display:flex;
     align-items: center;
     background-color: #EBEBEB;
     justify-content: center;
}

#brandname {
     padding-left:1em;
     color: #000;
     font-family: Monofett;
     font-size: 45px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
}

nav {
     background-color: #EBEBEB;
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: 0px;
}

#about {
     color:#129490;
}

#shop {
     color:#65AD97;
}

#cart {
     color:#9DB278;
}

#request {
     color:#D5B658;
}

#mainlist {
     font-family: Monofett;
     font-size: 32px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
}

main {
     background-color: #484847;
     font-family: 'Monomaniac One', sans-serif;
     align-items: center;
     margin-top: 0;
     padding: 0;
}

body {
     margin: 0px;
     padding: 0;
  }

h1 {
     font-family: 'Monofett', monospace;
     color: #000;
}

.icon {
     height: 50px;
     width: 50px;
     background-color: #ED254E;
     border-radius: 20%;
}

.search {
     background-color: #EBEBEB;
     margin-left: 33%;
     margin-right:33%;
     width:50%;
     color: #747272;
     border-radius: 15px 15px 15px 15px;
}

ul {
     display: flex;
     width: 100%;
     justify-content: space-around;
     list-style-type: none;
     font-size: 24px;
     margin: 0;
     padding-bottom: 1em;
 }

li {
     padding-left:1em;
     padding-right:1em;
     margin: 0;
 }

#sublist {
     padding-top:1em;
}
 ​
 main { 
     display: flex;
     align-items: center;
     padding: 3em 5em 5em 5em;
 }


div.gallery {
     border: 1px solid #ccc;
   }
   
   div.gallery:hover {
     border: 1px solid #777;
   }
   
   div.gallery img {
     width: 100%;
     height: auto;
   }
   
   div.desc {
     padding: 15px;
     text-align: center;
   }
   
   .container {
     margin: 0 auto;
     max-width: 1200px;
     padding: 0 1rem;
   }
   
   .responsive-image {
     max-width: 100%;
   }
   .cell img {
     display: block;
   }
   @media screen and (min-width: 600px){
     .grid {
       display: flex;
       flex-wrap: wrap;
       flex-direction: row;
     }
     .cell {
       width:50%;
     }
   }
   @media screen and (min-width: 1000px){
     .cell {
       width:calc (100%/3);
     }
   }
   .cell {
     margin: 1rem;
   }
   
   @media screen and (min-width: 600px){
     .cell {
       width: calc(50% - 2rem);
     }
   }
   @media screen and (min-width: 1000px){
     .cell{
       width: calc(33.3333% - 2rem);
     }
   }


   @media only screen and (min-width: 1201px) {
     #hamburger-menu {
          display: none;
     }
}

@media only screen and (max-width: 1200px) {
     ul {
          display: none;
     }
}